# ========= IDE =========
.idea/
.vscode/

# ========= Python =========
__pycache__/
*.pyc
*.pyo

# ========= Jupyter =========
.ipynb_checkpoints/

# ========= Training outputs =========
*.pth
*.pt
*.ckpt
runs/
outputs/
logs/

# ========= Temporary & logs =========
*.log
loss/**/*.txt

# ========= Dataset =========
data/
datasets/data/
