# ========= IDE =========
.idea/
.vscode/

# ========= Python =========
__pycache__/
*.pyc
*.pyo
*.pyd

# ========= Jupyter =========
.ipynb_checkpoints/

# ========= Training outputs =========
*.pth
*.pt
*.ckpt
runs/
outputs/
logs/

# ========= Generated / logs =========
*.log
loss/*.txt
cond_paths_file_None_train.txt

# ========= Dataset =========
data/
